{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Home{% endblock title %}

    

{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
    {% else %}
    <div class="flex space-x-6 mt-20 justify-center min-h-screen">
        <div class="flex flex-col items-center w-1/2 m-4">
            <h1 class="font-sans text-2xl">Inscrivez-vous maintenant</h1>
            <form method="post" action="{% url 'signup' %}" class="mt-12">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="bg-gray-800 hover:bg-gray-700 text-slate-200 hover:text-cyan-300 font-bold py-2 px-4 w-auto rounded focus:outline-none focus:shadow-outline">S'inscrire</button>
            </form>
        </div>
    
        <div class="flex flex-col items-start w-1/2 m-4">
            <h1 class="font-sans text-2xl">Connectez-vous</h1>
            <form method="post"  class="flex flex-col items-center space-y-4">{% csrf_token %}
                {% if login_form.non_field_errors %}
                    <div class="flex items-center m-4">
                        {{ login_form.non_field_errors }}
                    </div>
                {% endif %}
                {% for field in login_form %}
                    <div class="flex flex-col">
                        <label for="{{ field.id_for_label }}">{{field.label}}</label>
                        {% render_field field class="appearance-none border rounded w-60 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder=field.label%}
                    </div>
                {% endfor %}
                <div class=" flex w-60 flex-col">
                    <button type="submit" class="self-end bg-gray-800 hover:bg-gray-700 text-slate-200 hover:text-cyan-300 font-bold py-2 px-4 w-auto rounded focus:outline-none focus:shadow-outline ">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}

{% endblock content %}