{% extends "base.html" %}

{% block title %}Flux{% endblock title %}

    

{% block content %}
    <div class="flex space-x-4 justify-center">
        <a href="{% url 'ticket_create' %}" class="bg-gray-800 hover:bg-gray-700 text-cyan-300 font-bold py-2 px-4 mx-6 w-auto rounded focus:outline-none focus:shadow-outline">Demander une critique</a>
        <a href="{% url 'ticket_review_create' %}" class="bg-gray-800 hover:bg-gray-700 text-cyan-300 font-bold py-2 px-4 mx-6 w-auto rounded focus:outline-none focus:shadow-outline">Créer une critique</a>
    </div>
    
        {% for ticket in ticket_list %}
        <div>
            <a href="{% url 'ticket' ticket.pk %}" class="">
                <div class="bg-slate-200 rounded mx-auto w-4/5 p-6 my-6">
                    <div class="flex justify-between">
                    <span>{{ ticket.user }} à demandé une critique</span><span>{{ ticket.time_created }}</span>
                    </div>
                    <br>
                        <h2>{{ ticket.title }}</h2>
                    <br>
                    <div class="card-body">
                        {{ ticket.description }}
                    </div>
                    <br>
                    <div class="">
                        {% if ticket.image %}
                            <img src="{{ticket.image.url}}" alt="couverture du livre" class=" max-h-96">
                        {% else %}
                            <p>pas d'image</p>
                        {% endif %}
                    </div>
                    <br>
                    {% if request.user == ticket.user %}
                        <div class="text-center">
                            <p><a href="{% url 'ticket_update' ticket.pk %}" class="bg-gray-800 hover:bg-gray-700 text-cyan-300 font-bold py-2 px-4 w-auto rounded focus:outline-none focus:shadow-outline">Modifier</a> |
                            <a href="{% url 'ticket_delete' ticket.pk %}" class="bg-red-900 hover:bg-red-800 text-cyan-300 font-bold py-2 px-4 w-auto rounded focus:outline-none focus:shadow-outline">Suprimer</a></p>
                        </div>
                    {% else %}
                        <div class="text-center">
                            <p><a href="{% url 'review_create' ticket.id %}" class="bg-gray-800 hover:bg-gray-700 text-cyan-300 font-bold py-2 px-4 w-auto rounded focus:outline-none focus:shadow-outline">Créer une critique</a>
                        </div>
                    {% endif %}
                </div>
            <br>
            </a>
        
        </div>
        {% endfor %}


{% endblock content %}