{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Review a book{% endblock title %}

    

{% block content %}
<h1 class=" text-3xl flex justify-center m-auto">Créer une critique</h1>
<div class="bg-slate-300 rounded mx-auto w-4/5 p-6 mt-6">
    <h2>Vous êtes en train de poster en réponse à</h2>
    <div class="bg-slate-100 rounded mx-auto w-4/5 p-6 mt-6">
        <div class="flex justify-between">
            <span>{{ ticket.user }} à demandé une critique</span><span>{{ ticket.time_created }}</span>
        </div>
        <br>
        <h2 class="text-2xl">{{ ticket.title }}</h2>
        <br>
        <p>{{ ticket.description }}</p>
        {% if ticket.image %}
            <img src="{{ticket.image.url}}" alt="couverture du livre" class=" max-h-96">
        {% else %}
            <p>pas d'image</p>
        {% endif %}
        <br>
            
    </div>
</div>
<br>
<div class="bg-slate-300 rounded mx-auto w-4/5 p-6 mt-6">
    <form action="" method="post" class="">{% csrf_token %}
        {% csrf_token %}
            <div class="flex flex-col items-start space-y-4">
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}
                <div class="flex flex-col w-full ">
                <h3>Titre</h3>
                    {{ form.headline.errors }}
                    <label for="{{ form.headline.id_for_label }}"></label>
                    {% render_field form.headline class="appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder=form.headline.label %}
                </div>
                <div class="flex ">
                <h3>Note</h3>
                    {{ form.rating.errors }}
                    <label for="{{ form.rating.id_for_label }}"></label>
                    {% for choice in form.rating.field.choices %}
                    <label class="inline-flex items-center m-2">
                        <input type="radio" class="form-radio text-indigo-600" name="{{ form.rating.html_name }}" value="{{ choice.0 }}" {% if form.rating.value == choice.0 %}checked{% endif %}>
                        <span class="ml-2">  - {{choice.0 }}</span>
                
                    </label>
                    {% endfor %}
                </div>
                <div class="flex flex-col w-full">
                <h3>Commentaire</h3>
                    {{ form.body.errors }}
                    <label for="{{ form.body.id_for_label }}"></label>
                    {% render_field form.body class="appearance-none border rounded h-64 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder=form.body.label %}
                </div>

        <button class="bg-gray-800 hover:bg-gray-700 text-slate-200 hover:text-cyan-300 font-bold py-2 px-4 w-auto rounded focus:outline-none focus:shadow-outline" type="submit">Modifier</button>
    </form>
</div>
{% endblock content %}