{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Delete ticket{% endblock title %}

    

{% block content %}
<h1 class="flex justify-center text-2xl font-semibold">Suprimer un ticket</h1>
<br>
<form action="" method="post">{% csrf_token %}
    <p class="flex justify-center text-xl font-semibold">Voulez vous vraiment suprimer "{{ ticket.title }}"?</p>
    <br>
    <div class="flex justify-center">
    <button class="bg-red-900 hover:bg-red-800 text-slate-200 hover:text-cyan-300 font-bold py-2 px-4 w-auto rounded focus:outline-none focus:shadow-outline"
    type="submit">Suprimer</button>
    </div>
</form>

{% endblock content %}