{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}edit ticket{% endblock title %}

    

{% block content %}
<h1 class="flex justify-center text-2xl font-semibold">Modifier un ticket</h1>
<form action="" method="post" class="flex flex-col items-end space-y-4">{% csrf_token %}
    <div class="bg-slate-300 rounded mx-auto w-4/5 p-6 my-6">
    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}

    
        <div class="flex flex-col w-full ">
            {{ form.title.errors }}
            <label for="{{ form.title.id_for_label }}" class="font-semibold">Titre</label>
            {% render_field form.title class="appearance-none border rounded  py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder=form.title.label %}
        </div>
        <br>
        <div class="flex flex-col w-full ">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}" class="font-semibold">Description</label>
            {% render_field form.description class="appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder=form.description.label %}
        </div>
        <br>
        <div class="flex flex-col w-full ">
            {{ form.image.errors }}
            <label for="{{ form.image.id_for_label }}" class="font-semibold">Couverture</label>
            {% if form.image.value %}
            <img src="{{ form.image.value.url }}" alt="Couverture du livre" class="max-h-96 object-scale-down">
            {% endif %}
            <div>{{ form.image.clear }}</div>
            <div>
                {% render_field form.image class="appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder=form.image.label %}
            </div>
        </div>
        <br>
        <div class="flex flex-col w-full">
            <button class="self-end bg-gray-800 hover:bg-gray-700 text-slate-200 hover:text-cyan-300 font-bold py-2 px-4 w-auto rounded focus:outline-none focus:shadow-outline" type="submit">Modifier</button>
        </div>
</form>
{% endblock content %}